*.egg-info
__pycache__
Session.vim
/build
/dist
/lab
/metadata
/notebooks
/outputs
/release
/release_models
/separated
/tests
/trash
/misc
/mdx
.mypy_cache
/pydemucs
htdemucs_core.onnx
.envrc
/separated_simple
/separated_onnx
*.mp3
/remote